# TF-IDF:
- TF: number_of_repition_of_words_in_a_sentence / number_of_words_in_a_sentence
- IDF: log(number_of_sentence / sentences_carry_the_word)

TF-IDF = TF * IDF

In [5]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
corpus = [
    "Lam is data scientist and he is also a software engineer",
    "Apple is so bad",
    "Nvidia is new boss in the tech industry",
    "Netflix is not a big tech company anymore"
]

In [6]:
v = TfidfVectorizer()
v.fit(corpus)
transform_output = v.transform(corpus)

In [8]:
print(v.vocabulary_)

{'lam': 14, 'is': 13, 'data': 8, 'scientist': 19, 'and': 1, 'he': 10, 'also': 0, 'software': 21, 'engineer': 9, 'apple': 3, 'so': 20, 'bad': 4, 'nvidia': 18, 'new': 16, 'boss': 6, 'in': 11, 'the': 23, 'tech': 22, 'industry': 12, 'netflix': 15, 'not': 17, 'big': 5, 'company': 7, 'anymore': 2}

In [9]:
#Print the idf score 
all_feature_names = v.get_feature_names_out()
for word in all_feature_names:
    idx = v.vocabulary_.get(word)

    idf_score = v.idf_[idx]

    print(f"{word}: {idf_score}")

also: 1.916290731874155
and: 1.916290731874155
anymore: 1.916290731874155
apple: 1.916290731874155
bad: 1.916290731874155
big: 1.916290731874155
boss: 1.916290731874155
company: 1.916290731874155
data: 1.916290731874155
engineer: 1.916290731874155
he: 1.916290731874155
in: 1.916290731874155
industry: 1.916290731874155
is: 1.0
lam: 1.916290731874155
netflix: 1.916290731874155
new: 1.916290731874155
not: 1.916290731874155
nvidia: 1.916290731874155
scientist: 1.916290731874155
so: 1.916290731874155
software: 1.916290731874155
tech: 1.5108256237659907
the: 1.916290731874155

In [10]:
print(transform_output)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 28 stored elements and shape (4, 24)>
  Coords	Values
  (0, 0)	0.33169230692595647
  (0, 1)	0.33169230692595647
  (0, 8)	0.33169230692595647
  (0, 9)	0.33169230692595647
  (0, 10)	0.33169230692595647
  (0, 13)	0.34618161159873423
  (0, 14)	0.33169230692595647
  (0, 19)	0.33169230692595647
  (0, 21)	0.33169230692595647
  (1, 3)	0.5528053199908667
  (1, 4)	0.5528053199908667
  (1, 13)	0.2884767487500274
  (1, 20)	0.5528053199908667
  (2, 6)	0.3808615734785117
  (2, 11)	0.3808615734785117
  (2, 12)	0.3808615734785117
  (2, 13)	0.1987493688423909
  (2, 16)	0.3808615734785117
  (2, 18)	0.3808615734785117
  (2, 22)	0.3002756391544022
  (2, 23)	0.3808615734785117
  (3, 2)	0.41190608298099013
  (3, 5)	0.41190608298099013
  (3, 7)	0.41190608298099013
  (3, 13)	0.21494968176261076
  (3, 15)	0.41190608298099013
  (3, 17)	0.41190608298099013
  (3, 22)	0.3247514870272976

In [11]:
df = pd.read_csv('Ecommerce_data.csv')

In [12]:
df.head()

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [13]:
df.label.value_counts()

label
Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: count, dtype: int64

In [14]:
df.shape

(24000, 2)

In [15]:
df['label_num'] = df.label.map({
    'Household':0,
    'Electronics': 1,
    'Clothing & Accessories': 2,
    'Books':3
})

In [16]:
df

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,1
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,2
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,2
...,...,...,...
23995,Marvel Physics MCQ's for MHT - CET,Books,3
23996,Internet Download Manager | Lifetime License |...,Books,3
23997,Sadhubela's Handcrafted Iron Degchi Handi Pot ...,Household,0
23998,Audio-Technica AT-LP60 Automatic Belt Driven D...,Electronics,1
23999,LG GH24NSB0 DVD Writer 24X SATA Internal OEM P...,Electronics,1

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test = train_test_split(df.Text, df.label_num, test_size=0.2, random_state=42)

In [24]:
len(x_train)

19200

In [25]:
x_test

3111     Satyam Kraft PU Leather(Pack of 1) Adjustable ...
18679    Neva Men Thermal Bottom Neva black coloured th...
17472    Nisha Furniture Sheesham Wood Bedside Table fo...
21451    Fourgee Women's Skinny fit Jeans FOURGEE as a ...
20800    Nxt 2 Skn Girl's Silk Stockings (N2S210, Beige...
                               ...
19950    From Stonehenge to Samarkand: An Anthology of ...
18744    SAT Reading & Writing Prep (Kaplan Test Prep) ...
3263     Eveready IH401 1000-Watt Immersion Rod (Black)...
2754     Nu Republic Nu Enrgy Wireless Earphones with M...
13061    Dixcy Josh Women's Cotton Blend Printed Pantie...
Name: Text, Length: 4800, dtype: object

### Vectorization

In [26]:
tf = TfidfVectorizer()
x_train_tf = tf.fit_transform(x_train)
x_test_tf = tf.transform(x_test)

### Classfication model

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
model = DecisionTreeClassifier()
model.fit(x_train_tf,y_train)

y_pred = model.predict(x_test_tf)

In [29]:
print(y_pred)

[2 2 0 ... 1 1 2]

In [30]:
from sklearn.metrics import classification_report

In [31]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.92      0.92      1221
           1       0.95      0.95      0.95      1145
           2       0.97      0.96      0.96      1210
           3       0.95      0.97      0.96      1224

    accuracy                           0.95      4800
   macro avg       0.95      0.95      0.95      4800
weighted avg       0.95      0.95      0.95      4800

In [32]:
msg = ["Contrast Living Modern"]
msg_tf = tf.transform(msg)
print(model.predict(msg_tf))

[3]